
/* Portfolio Template */
* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #353535;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

h3 {
  font-weight: bold;
}

/*
a {
  text-decoration: none;
  color:  #c4c4c4;
}
*/

.home {
  background-color: #353535;
}


.introduction {
  background-color: #FFFFFF;
  width: 100%;
}

.introduction-content {
  margin: auto;
  width: 80%;
  color: #353535;
  line-height: 2em;
  margin-top: 15%;
}



.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.nav-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

header {
/*  background:  #f05b72; */
/*  background: url("../img/mov.png");
  padding-bottom: 34em; */
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-container nav {
  float: left;
}

.nav-container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-container nav li {
  display: inline-block;
  margin-right: 3em;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.nav-container nav a {
  color: #f05b72;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-container nav a:hover {
  color: white;
}

.nav-container nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: white;
  margin-top: 5em;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-container nav a:hover::before {
  width: 100%;
}

.main-content {
  flex: 1 1 100%;
  min-height: 50vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);

}

.portfolio-projects h2 {
  color: #f05b72;
}

.portfolio-item {
  background-color: #f05b72;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}

.portfolio-item.tall {
  grid-row: span 4;
  grid-column: span 2;
}


.portfolio-item.gallery {
  background-color: #FFFFFF;
}

.portfolio-item.animation {
  background-color: #353535;
}

.portfolio-item.tall.one {
  background: url("../img/mov.png");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-size: cover;
  background-position: left;
  opacity: 0.5;
}

.portfolio-item.tall.one:hover {
  background-position: center;
  opacity: 1;
}



.portfolio-item.tall.two{
  background: url("../img/cactusImage.jpg");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}

.portfolio-item.tall.two:hover {
  background-position: left;
  opacity: 1;
}



.flexbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}

.childbox {
  background-color: #f05b72;
  flex: 1;
  min-width: 40rem;
  height: 60vh;
  margin: 0 auto;
}

.childbox2{
  background-color: #FFFFFF;
  flex: 1;
  min-width: 40rem;
  height: 60vh;
  margin: 0 auto;
}

<<<<<<< HEAD
@media only screen and (max-width: 1280px) {
=======


@media only screen and (max-width: 1200px) {
>>>>>>> master
    .childbox {
        height: 110vh;
    }
    .childbox2 {
        height: 110vh;
    }
}

@media only screen and (max-width: 750px) {
    .childbox {
        height: 130vh;
    }
    .childbox2 {
        height: 130vh;
    }
}

@media only screen and (max-width: 634px) {
    .childbox {
        height: 80vh;
    }
    .childbox2 {
        height: 120vh;
    }
}

.childbox h2 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 8em;
}

.childbox h4 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 5em;
}



.portfolio-item.tall.three{
  background: url("../img/lattimergallery3.jpg");
  background-size: cover;
}

.portfolio-item.tall.four{
  background: url("../img/lattimergallery4.jpg");
  background-size: cover;
}

/*
.portfolio-item.tall.five{
  background: url("../img/Storyboard.png");
  background-size: contain;
  background-color: #353535;
}

.portfolio-item.tall.six{
  background: url("../img/Storyboard2.png");
  background-size: contain;
  background-color: #353535;
}
*/


.process-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.storyboard1 {
  flex: 1;
  /*background: url("../img/Storyboard.png");
  background-size: cover;*/
  min-width: 20rem;
  height: 50vh;
}

.storyboard2 {
  flex: 1;
/*  background: url("../img/Storyboard2.png");
  background-size: cover;*/
  min-width: 20rem;
  height: 50vh;
}

.process-title {
  background-color: #353535;
  flex: 1;
  min-width: 5em;
  height: 600px;
  margin: 0 auto;
}

.process{
  background-color: #FFFFFF;
  flex: 2;
  min-width: 40em;
}

.process h2 {
  color: #f05b72;
}

.process-title h4 {
  text-align: center;
  color: #FFFFFF;
}

.process-introduction {
  background-color: #FFFFFF;
}

.process-content {
  margin: auto;
  max-width: 80%;
  color: #353535;
  line-height: 2em;
  margin-top: 5em;
  min-width: 20rem;
  height: auto;
}

.process-img {
  flex: 1;
  background: url("../img/mov.png");
  background-size: cover;
  margin: 0 auto;
}

.process-img2 {
  flex: 1;
  background: url("../img/scene10.jpg");
  background-size: cover;
  min-width: 40rem;
  height: 60vh;
  margin: 0 auto;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}





/* Homepage Projects */
.project1 {
  background-color: #f05b72;
  flex: 1;
  min-width: 20rem;
  height: 60vh;
  margin: 0 auto;
  background: url("../img/mov.png");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-size: cover;
  background-position: left;
  opacity: 0.5;
  text-align: center;
  text-decoration: none;

}

.project2{
  text-decoration: none;
  background-color: #FFFFFF;
  flex: 1;
  min-width: 20rem;
  height: 60vh;
  margin: 0 auto;
  background: url("../img/cactusImage.jpg");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}



.project1:hover {
  background-position: center;
  opacity: 1;
  color: #FFFFFF;
}

.project2:hover {
  background-position: left;
  opacity: 1;
  color: #FFFFFF;
}

.project-title {
  display: flex;
  background-color: #353535;
  color: #f05b72;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Video Header */
#headerContent {
  margin-top: 2em;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}
