/* Portfolio Template */
* {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #353535;
}

h3 {
  font-weight: bold;
}

.home {
  background-color: #353535;
}


.introduction {
  background-color: #FFFFFF;
}

.introduction-content {
  margin: auto;
  width: 80%;
  color: #353535;
  line-height: 2em;
  margin-top: 15%;
}



.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  line height: 1.45;
  font-size: 1.2rem;
}

.nav-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

header {
/*  background:  #f05b72; */
/*  background: url("../img/mov.png");
  padding-bottom: 34em; */
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-container nav {
  float: left;
}

.nav-container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-container nav li {
  display: inline-block;
  margin-right: 3em;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.nav-container nav a {
  color: #f05b72;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-container nav a:hover {
  color: white;
}

.nav-container nav a::before {
  content: '';
  display: block;
  height: 3px;
  with: 100%;
  background-color: white;
  margin-top: 5em;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-container nav a:hover::before {
  width: 100%;
}

.main-content {

  flex: 1 1 100%;
  min-height: 120vh;
}

.portfolio {
  display: grid;
  height: 200%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);

}

.portfolio-item {
  background-color: #f05b72;
  display: flex;
  justify-content: center;
  align-items: center;

}

.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 3;
}

.portfolio-item.gallery {
  background-color: #FFFFFF;
}

.portfolio-item.animation {
  background-color: #353535;
}

.portfolio-item.tall.one{
  background: url("../img/mov.png");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
}


.portfolio-item.tall.one:before {
  content: '';
  display: block;
  background: #353535;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

.portfolio-item.tall.one:hover::before{
  opacity: 0.2;
}



.portfolio-item.tall.two{
  background: url("../img/cactusImage.jpg");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
}


.portfolio-item.tall.two:before {
  content: '';
  display: block;
  background: #353535;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

.portfolio-item.tall.two:hover::before{
  opacity: 0.2;
}



.flexbox {
  display: flex;
  flex: wrap;
  min-width: 100%;
  margin-top: 2em;
}

.childbox {
  background-color: #f05b72;
  flex: 1;
  min-width: 50%;
  height: 600px;
  margin: 0 auto;
}

.childbox2{
  background-color: #FFFFFF;
  flex: 1;
  min-width: 50%;
  height: 600px;
  margin: 0 auto;
}

.childbox h2 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 30%;
}

.childbox h4 {
  text-align: center;
  color: #FFFFFF;
  margin-top: 30%;
}
