
/* Portfolio Template */
* {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  background-color: #292929;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-weight: bold;
}


.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.hamburger {
  text-align: right;
}

label {
  color: white;
  margin: 0 40px 0 0;
  font-size: 2rem;
  line-height: 5rem;
  display: none;

}

#toggle {
  display: none;
}



header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-container nav {
  display: block;
  margin: 0 auto;
}

.home {
  float: left;
}

.nav-element {
  float: right;
}

.nav-container nav ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav-container nav li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  min-width: 10em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;


}


.nav-container nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#active a{
  color: #88BBD6;
}

#active a:hover {
  color: #FFFFFF;
}

.nav-container nav li:not(#active) a:hover {
  color: #88BBD6;
}

.nav-container nav li:not(#active) a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: white;
  margin-top: 5em;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.nav-container nav li:not(#active) a:hover::before {
  width: 100%;
}

@media only screen and (max-width: 950px) {
  label {
    display: block;
    cursor: pointer;
  }
  .nav-container {
    text-align: center;
    width: 70%;
    display: none;
    margin: 0 auto;
  }

  .nav-container a {
    display: block;
    height: 3em;
    border-bottom: 1px solid #EAEAFB;
  }

  .nav-container nav li a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #292929;
    margin-top: 5em;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 125ms;
  }

  #toggle:checked + .nav-container {
    display: block;
  }

}


.banner img {
  width: 43.5%;
  height: 43.5%;
  margin: auto;
  display: block;
  background-image: fixed;

}

.main-content {
  flex: 1 1 100%;
  min-height: 50vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);

}

.portfolio-item {
  background-color: #88BBD6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.portfolio-projects h2 {
  color: #328cc1;
}


.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  background-color: #88BBD6;
}

.childbox {
  background-color: #88BBD6;
  flex: 1;
  min-width: 30rem;
  margin: 0 auto;

}

.introduction {
  background-color: #FFFFFF;
  flex: 1;
  min-width: 20rem;
  margin: 0 auto;
}

.introduction-content {
  margin: auto;
  width: 80%;
  color: #353535;
  line-height: 2em;
  padding-top: 6rem;
  padding-bottom: 6rem;
}




@media only screen and (max-width: 1280px) {
    .childbox {
        height: auto;
    }
    .introduction {
      height: auto;
    }
}



.childbox h2 {
  text-align: center;
  color: #FFFFFF;
}

.childbox h4 {
  text-align: center;
  color: #FFFFFF;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.storyboard-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.process-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;

}


.storyboardbox {
  background-color: #292929;
  flex: 1;
  min-width: 30rem;
  margin: 0 auto;
}

.storyboardbox h2 {
  text-align: center;
  color: #FFFFFF;
}

.storyboard1 {
  flex: 1;
  min-width: 25rem;
  height: 50vh;
  border: 1px solid #292929;
  border-right-color: #88BBD6;
  border-left-color: #88BBD6;

}

.storyboard1 img {
  height: 100%;
  width: 100%;
}

.storyboard2 {
  flex: 1;
  min-width: 25rem;
  height: 50vh;
  border: 1px solid #292929;
  border-left-color: #88BBD6;
  border-right-color: #88BBD6;
}

.storyboard2 img {
  height: 100%;
  width: 100%;
}



.filmbox {
  background-color: #292929;
  flex: 1;
  min-width: 20rem;
  margin: 0 auto;


}

.filmbox h2 {
  text-align: center;
  color: #88BBD6;
  min-width: 20rem;
}

.film1 {
  flex: 1;
  background: url("../img/lattimergallery3.jpg");
  background-size: cover;
  min-width: 20rem;
  height: 50vh;
}

.film2 {
  flex: 1;
  background: url("../img/lattimergallery4.jpg");
  background-size: cover;
  min-width: 20rem;
  height: 50vh;
}

.process-title {
  background-color: #353535;
  flex: 1;
  min-width: 5em;
  height: 600px;
  margin: 0 auto;
}

.process{
  background-color: #FFFFFF;
  flex: 2;
  min-width: 40rem;
  margin: 0 auto;
}



.process h2 {
  color: #88BBD6;
}

.process-title h4 {
  text-align: center;
  color: #FFFFFF;
}

.process-introduction {
  background-color: #FFFFFF;
  flex: 1;
  min-width: 20rem;
  margin: 0 auto;
}

.process-content {
  margin: auto;
  width: 80%;
  color: #353535;
  line-height: 2em;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 31.5rem;

}


.process-img1 {
  flex: 1;
  background: url("../img/mov.png");
  background-size: cover;
  min-width: 20rem;
  min-height: 43.5rem;
  margin: 0 auto;
}

.process-img2 {
  flex: 1;
  background: url("../img/scene10.jpg");
  background-size: cover;
  min-width: 20rem;
  min-height: 43.5rem;
  margin: 0 auto;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  align-items: flex-start;
  height: auto;
}

.project1 {
  border: 2px solid #292929;
  background-color: #f05b72;
  flex: 1;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  background: url("../img/mov.png");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-size: cover;
  background-position: left;
  opacity: 0.5;
  text-align: center;
  text-decoration: none;
}


.project2{
  border: 2px solid #292929;
  text-decoration: none;
  background-color: #FFFFFF;
  flex: 1;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  background: url("../img/cactusImage.jpg");
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}



.project1:hover {
  background-position: center;
  opacity: 1;
  color: #FFFFFF;
}

.project2:hover {
  background-position: left;
  opacity: 1;
  color: #FFFFFF;
}


.project3{
  border: 2px solid #292929;
  text-decoration: none;
  background-color: #545454;
  flex: 1;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}

.project3:hover {
  background-position: left;
  opacity: 1;
  color: #909090;
}

.project4{
  border: 2px solid #292929;
  text-decoration: none;
  background-color: #545454;
  flex: 3;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}

.project4:hover {
  background-position: left;
  opacity: 1;
  color: #909090;
}

.project5{
  border: 2px solid #292929;
  text-decoration: none;
  background-color: #545454;
  flex: 2;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}

.project5:hover {
  background-position: left;
  opacity: 1;
  color: #909090;
}

.project6{
  border: 2px solid #292929;
  text-decoration: none;
  background-color: #545454;
  flex: 1;
  min-width: 20rem;
  min-height: 45vh;
  margin: 0 auto;
  color: #c4c4c4;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
  background-position: center;
  opacity: 0.5;
}

.project6:hover {
  background-position: left;
  opacity: 1;
  color: #909090;
}


.project-title {
  display: flex;
  background-color: #292929;
  color: #88BBD6;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 5em;
}


/* Video Header */
#headerContent {
  margin-top: 1em;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.contact-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-contact {
  float: left;
  position: relative;
  left: -50%;
}

.contact {
  margin-top: 2em;
}

.contact-title {
  display: flex;
  background-color: #292929;
  color: #ffffff;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.contact ul{
  display: flex;
  margin-top: 2em;
  margin-bottom: 5em;

}

.contact ul li {
  list-style: none;
  margin-right: 0.3rem;
}

.contact ul li a {
  margin-right: 1em;
  width: 5rem;
  height: 5rem;
  background: #88BBD6;
  text-align: center;
  line-height: 5rem;
  font-size: 35px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #88BBD6;
  z-index: 1;

}

.contact ul li a{
  position: relative;
  color: #FFFFFF;
  transition: 1.0s;
}

.contact ul li a:hover{
  color: #88BBD6;
  background-color: #ffffff;
  transform: rotateY(360deg);
}
